body {
    margin: 0;
    padding: 0;
}
* { 
    box-sizing: border-box;
}
header { 
    background-color: lightcoral;
    display: flex;
    justify-content:first baseline;
    align-items: center;
    padding: 0 20px;
}
nav {
    display: flex;
    align-items: center;
}
.navBar_buttons {
    display: flex;
    list-style: none;
    margin-left: 10px;
    padding: 0;
    align-items: center;
}
.navButtons {
    color: black;
}
h1, p {
    margin: 0;
}

h1 { 
    margin-bottom: 10px;
}

.subheading{
    font-size: .9em;
    margin